.content {
    background-image: url(tv-noise.jpg);
    background: linear-gradient(rgba(0,0,0, 0.3) , rgba(0,0,00, 0.3)), url(tv-noise.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 400px;
    background-color: rgba(0,0,0, 0.5);
    font-family: poppins;
    animation: animate 0.1s ease-in-out infinite;
    font-weight: 900;
    -webkit-text-stroke: 2px #000;
    text-align: center;
    position: relative;
}

.content span {
    font-size: 40px;
    display: block;
}

@keyframes animate {
    from {
        left: 0;
        top:1px;
        background-position: top 25%;
        background-position: right 50%;

    }
    to {
        top: 0;
        right:1px;
        background-position: bottom 75%;
        background-position: left 100%;
    }
}
